@page "/about"

<PageTitle>About</PageTitle>
<div class="row">
    <div class="col-md-6">
        <h1 class="text-center">Traditional Martial Arts Class in Aberdeen</h1>
        <p class="text-center">
            The club was set up in 2008 and is run by Mark Petrie and since 2010 has benefited from instruction from Sensei Karl Grubis (4th Dan) of the Goshin Jitsu Association Scotland.
            We also have links to the Scottish Fighting Arts Association.
        </p>
        <p class="text-center">
            We teach Koryu jujitsu, Muso Jikiden Eishin Ryu Iaido and general self defence. 
        </p>
        <p class="text-center">
            Classes are 7pm - 8.30pm every Friday and is open to all ages and abilities. First class is free, following classes are £7. 
        </p>
        <p class="text-center">
            Please contact Sensie Mark via Phone: 07565608906 or Email: granitecityjujitsu@hotmail.co.uk
        </p>
    </div>
    <div class="col-md-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2164.964961474045!2d-2.0810725220115267!3d57.13766107362819!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48840e492aa476f5%3A0xa4c890c7decdd054!2sOld%20Torry%20Community%20Centre%20Assciation%20SCIO!5e0!3m2!1sen!2suk!4v1741030586818!5m2!1sen!2suk" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>

