@page "/downloads"
@inject HttpClient Http

<PageTitle>Downloads</PageTitle>

<h1>Downloads</h1>

<a id="exportSyllabus" class="btn btn-primary" href="files/Syllabus.pdf" download="Syllabus.pdf"
   role="button" target="=_top">Downlaod Syllabus as PDF</a>
